<header>
    <nav aria-label="Main navigation">
      <div class="logo" aria-label="Gallant SMS logo">
        <a href="#" class="logo-text">
          <span class="logo-gallant">Gallant</span><span class="logo-sms">SMS</span> <!-- Don't new line or space to this -->
        </a>
      </div>
      <button class="nav-toggle" aria-label="Toggle navigation">
          <span class="hamburger"></span>
      </button>
      <ul class="nav-menu">
        <li><a href="#features">Features</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#docs">Docs</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register" class="cta-button " id ="signup">Sign Up</a></li>
      </ul>
    </nav>
  </header>