<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GallantSMS - Affordable SMS API for the Kenyan Developers</title>
  <meta
    name="description"
    content="GallantSMS provides affordable shared and dedicated shortcodes for SMS API integration. Perfect for testing and production environments."
  />
  <meta
    name="keywords"
    content="Bulk SMS, SMS, Bulk SMS Kenya, secure affordable"
  />
  <meta name="author" content="Gallant Bulk SMS" />

  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />

  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/login.css" />
  
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
    rel="stylesheet"
  />

  <meta http-equiv="X-Content-Type-Options" content="nosniff" />
  <meta
    http-equiv="Referrer-Policy"
    content="strict-origin-when-cross-origin"
  />
    <!-- <meta
        http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self'; connect-src 'self'; font-src 'self';"> -->

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "Gallant SMS",
      "applicationCategory": "DeveloperApplication",
      "offers": [
        {
          "@type": "Offer",
          "name": "Shared Short Code",
          "price": "100",
          "priceCurrency": "KES",
          "description": "Shared short code for Bulk SMS services"
        },
        {
          "@type": "Offer",
          "name": "Personal Short Code",
          "price": "7500",
          "priceCurrency": "KES",
          "description": "Personal short code for Bulk SMS services"
        }
      ]
    }
  </script>
</head>
