<nav class="navbar">
    <div class="logo">
      <img src="/gallantlogonobgactualcrop.png" alt="GallantSMS Logo" />
      <h2>GallantSMS</h2>
    </div>
    <div class="hamburger-menu" id="hamburgerMenu">
      <i class="fas fa-bars"></i>
    </div>
    <div class="nav-links" id="navLinks">
      <a href="/">Home</a>
      <a href="#features">Features</a>
      <a href="#pricing">Pricing</a>
      <a href="#contact">Contact</a>

      <% if (typeof user !== 'undefined' && user) {%>
        <a href="/auth/login" class="action-button">Login</a>
        <a href="/auth/register" class="action-button signup-button">Signup</a>
      <% } else { %>
        <a href="/auth/login" class="action-button">Login</a>
        <a href="/auth/register" class="action-button signup-button">Signup</a>
      <% } %>

    </div>
  </nav>