<nav class="sidebar">
  <h2>Dashboard</h2>
  <ul>
    <li>
      <a href="/dashboard/" data-section="overview"
        ><i class="fas fa-chart-line"></i> Overview</a
      >
    </li>
    <li>
      <a href="/dashboard/api" data-section="api"
        ><i class="fas fa-code"></i> API Management</a
      >
    </li>
    <li>
      <a href="/dashboard/senderids" data-section="short-codes"
        ><i class="fas fa-sms"></i> SenderID Manager</a
      >
    </li>
    <li>
      <a href="/dashboard/billing" data-section="billing"
        ><i class="fas fa-credit-card"></i> Billing & Payments</a
      >
    </li>
    <li>
      <a href="/dashboard/support" data-section="support"
        ><i class="fas fa-book"></i> Support & Docs</a
      >
    </li>
    <li>
      <a href="/dashboard/profile" data-section="profile"
        ><i class="fas fa-user"></i> User Profile</a
      >
    </li>
    <li>
      <a href="/auth/logout" data-section="logout">
        <i class="fas fa-right-from-bracket"></i> Logout
      </a>
    </li>
  </ul>
</nav>
