<nav class="sidebar">
  <h2>Dashboard</h2>
  <ul>
    <li>
      <a href="#overview" data-section="overview"
        ><i class="fas fa-chart-line"></i> Overview</a
      >
    </li>
    <li>
      <a href="#api" data-section="api"
        ><i class="fas fa-code"></i> API Management</a
      >
    </li>
    <li>
      <a href="#short-codes" data-section="short-codes"
        ><i class="fas fa-sms"></i> SenderID Manager</a
      >
    </li>
    <li>
      <a href="#billng" data-section="billing"
        ><i class="fas fa-credit-card"></i> Billing & Payments</a
      >
    </li>
    <li>
      <a href="#support" data-section="support"
        ><i class="fas fa-book"></i> Support & Docs</a
      >
    </li>
    <li>
      <a href="#profile" data-section="profile"
        ><i class="fas fa-user"></i> User Profile</a
      >
    </li>
  </ul>
</nav>
